In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_clipboard()

In [3]:
df

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary        Parquet Format    read_parquet    to_parquet
8       binary               Msgpack    read_msgpack    to_msgpack
9       binary                 Stata      read_stata      to_stata
10      binary                   SAS        read_sas
11      binary  Python Pickle Format     read_pickle     to_pickle
12         SQL                   SQL        read_sql        to_sql
13         SQL      Google Big Query        read_gbq        to_gbq

In [7]:
df.to_csv('df_io.csv',index=False)

In [5]:
!ls

DataFrame IO Operation.ipynb
Dataframe Introduction.ipynb
Relationship between Series and DataFrame.ipynb
Series Introduction.ipynb
df_io.csv

In [8]:
!more df_io.csv

Format Type,Data Description,Reader,Writer
text,CSV,read_csv,to_csv
text,JSON,read_json,to_json
text,HTML,read_html,to_html
text,Local clipboard,read_clipboard,to_clipboard
binary,MS Excel,read_excel,to_excel
binary,HDF5 Format,read_hdf,to_hdf
binary,Feather Format,read_feather,to_feather
binary,Parquet Format,read_parquet,to_parquet
binary,Msgpack,read_msgpack,to_msgpack
binary,Stata,read_stata,to_stata
binary,SAS,read_sas,
binary,Python Pickle Format,read_pickle,to_pickle
SQL,SQL,read_sql,to_sql
SQL,Google Big Query,read_gbq,to_gbq
>

In [9]:
pd.read_csv('df_io.csv')

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary           HDF5 Format        read_hdf        to_hdf
6       binary        Feather Format    read_feather    to_feather
7       binary        Parquet Format    read_parquet    to_parquet
8       binary               Msgpack    read_msgpack    to_msgpack
9       binary                 Stata      read_stata      to_stata
10      binary                   SAS        read_sas
11      binary  Python Pickle Format     read_pickle     to_pickle
12         SQL                   SQL        read_sql        to_sql
13         SQL      Google Big Query        read_gbq        to_gbq

In [11]:
df_json = df.to_json()

In [12]:
pd.read_json(df_json)

        Data Description Format Type          Reader        Writer
0                    CSV        text        read_csv        to_csv
1                   JSON        text       read_json       to_json
10                   SAS      binary        read_sas
11  Python Pickle Format      binary     read_pickle     to_pickle
12                   SQL         SQL        read_sql        to_sql
13      Google Big Query         SQL        read_gbq        to_gbq
2                   HTML        text       read_html       to_html
3        Local clipboard        text  read_clipboard  to_clipboard
4               MS Excel      binary      read_excel      to_excel
5            HDF5 Format      binary        read_hdf        to_hdf
6         Feather Format      binary    read_feather    to_feather
7         Parquet Format      binary    read_parquet    to_parquet
8                Msgpack      binary    read_msgpack    to_msgpack
9                  Stata      binary      read_stata      to_stata

In [14]:
df.to_html('df_io.html')

In [16]:
df_html = pd.read_html('df_io.html')

In [17]:
type(df_html)

list

In [18]:
len(df_html)

1

In [19]:
df_html[0]

    Unnamed: 0 Format Type      Data Description          Reader        Writer
0            0        text                   CSV        read_csv        to_csv
1            1        text                  JSON       read_json       to_json
2            2        text                  HTML       read_html       to_html
3            3        text       Local clipboard  read_clipboard  to_clipboard
4            4      binary              MS Excel      read_excel      to_excel
5            5      binary           HDF5 Format        read_hdf        to_hdf
6            6      binary        Feather Format    read_feather    to_feather
7            7      binary        Parquet Format    read_parquet    to_parquet
8            8      binary               Msgpack    read_msgpack    to_msgpack
9            9      binary                 Stata      read_stata      to_stata
10          10      binary                   SAS        read_sas           NaN
11          11      binary  Python Pickle Format     read_pickle     to_pickle
12          12         SQL                   SQL        read_sql        to_sql
13          13         SQL      Google Big Query        read_gbq        to_gbq